In [1]:

import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
Jan20="2020/JC-202001-citibike-tripdata.csv"
Feb20="2020/JC-202002-citibike-tripdata.csv"
Mar20="2020/JC-202003-citibike-tripdata.csv"
April20="2020/JC-202004-citibike-tripdata.csv"
May20="2020/JC-202005-citibike-tripdata.csv"
June20="2020/JC-202006-citibike-tripdata.csv"
July20="2020/JC-202007-citibike-tripdata.csv"
Aug20="2020/JC-202008-citibike-tripdata.csv"
Sept20="2020/JC-202009-citibike-tripdata.csv"
Oct20="2020/JC-202010-citibike-tripdata.csv"
Nov20="2020/JC-202011-citibike-tripdata.csv"
Dec20="2020/JC-202012-citibike-tripdata.csv"

In [3]:
Jan20DF=pd.read_csv(Jan20)
Feb20DF=pd.read_csv(Feb20)
Mar20DF=pd.read_csv(Mar20)
April20DF=pd.read_csv(April20)
May20DF=pd.read_csv(May20)
June20DF=pd.read_csv(June20)
July20DF=pd.read_csv(July20)
Aug20DF=pd.read_csv(Aug20)
Sept20DF=pd.read_csv(Sept20)
Oct20DF=pd.read_csv(Oct20)
Nov20DF=pd.read_csv(Nov20)
Dec20DF=pd.read_csv(Dec20)

In [4]:
Jan19="2019/JC-201901-citibike-tripdata.csv"
Feb19="2019/JC-201902-citibike-tripdata.csv"
Mar19="2019/JC-201903-citibike-tripdata.csv"
April19="2019/JC-201904-citibike-tripdata.csv"
May19="2019/JC-201905-citibike-tripdata.csv"
June19="2019/JC-201906-citibike-tripdata.csv"
July19="2019/JC-201907-citibike-tripdata.csv"
Aug19="2019/JC-201908-citibike-tripdata.csv"
Sept19="2019/JC-201909-citibike-tripdata.csv"
Oct19="2019/JC-201910-citibike-tripdata.csv"
Nov19="2019/JC-201911-citibike-tripdata.csv"
Dec19="2019/JC-201912-citibike-tripdata.csv"

In [5]:
Jan19DF=pd.read_csv(Jan19)
Feb19DF=pd.read_csv(Feb19)
Mar19DF=pd.read_csv(Mar19)
April19DF=pd.read_csv(April19)
May19DF=pd.read_csv(May19)
June19DF=pd.read_csv(June19)
July19DF=pd.read_csv(July19)
Aug19DF=pd.read_csv(Aug19)
Sept19DF=pd.read_csv(Sept19)
Oct19DF=pd.read_csv(Oct19)
Nov19DF=pd.read_csv(Nov19)
Dec19DF=pd.read_csv(Dec19)

In [6]:
F2019=[Jan19DF, Feb19DF,Mar19DF, April19DF, May19DF, June19DF, July19DF, Aug19DF, Sept19DF, Oct19DF, Nov19DF, Dec19DF]
F2020=[Jan20DF, Feb20DF,Mar20DF, April20DF, May20DF, June20DF, July20DF, Aug20DF, Sept20DF, Oct20DF, Nov20DF, Dec20DF]

In [7]:
FY20=pd.concat(F2020)
FY19=pd.concat(F2019)

In [8]:
ToClean=[FY19, FY20]

In [9]:
FinalY19Y20=pd.concat(ToClean)

In [10]:
FinalY19Y20['gender'].replace(to_replace=[0, 1, 2],
           value=['Unknown', 'Male', 'Female'],
           inplace=True)

In [11]:
FinalY19Y20.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown

In [12]:

FinalY19Y20 = FinalY19Y20.rename(columns={
    "tripduration": "Trip Duration",
    "starttime": "Start Time",
    "stoptime": "Stop Time",
    "start station id": "Start Sation ID",
    "start station name": "Start Station Name",
    "start station latitude": "Start Station Latitude",
    "start station longitude": "Start Station Longitude",
    "end station id": "End Station ID",
    "end station name": "End Station Name",
    "end station latitude": "End Station Latitude",
    "end station longitude": "End Station Longitude",
    "bikeid": "Bike ID",
    "usertype": "User Type",
    "birth year": "Birth Year",
    "gender": "Gender",
    "month": "Month"
      
})

In [13]:
FinalY19Y20

,Trip Duration,Start Time,Stop Time,Start Sation ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,Unknown
11690,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,Unknown
11691,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,Male
11692,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,Unknown
11693,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,Male

In [14]:
currentYear = datetime.now().year

FinalY19Y20["Rider Age"] = currentYear - FinalY19Y20["Birth Year"]

In [15]:
FinalY19Y20.to_csv("FinalY19Y20.csv", header=True)